 <header class="topbar">
  <section class="logo-area">
    <img class="logo-img" src="assets/logo.jpg" alt="Vows & Veils logo" />
    <h1 class="logo-text">Vows & Veils</h1>
  </section>

  <nav class="nav-links">
    <!-- <a routerLink="/landing">Back</a> -->
  </nav>
</header>

<section>
    <section class="hero">
        <link rel="stylesheet" href="rsvp.css">
        <title> RSVP</title>

    </section>
    <section class="rsvp-section">

        <section *ngIf ="!eventIdEntered" class= "eventId">
            <p>Enter your wedding code:</p>
            <input type="text" [(ngModel)]="eventCode" placeholder="Wedding Code">
            <button  class="idSumbit" (click)="submitEventCode()">Continue</button>
        </section>

    <section *ngIf= "eventIdEntered">

        <section class="attendance">
        <section class="hero">
            <img src="assets/logo.jpg" class="logo" />
            <h1>Will you be joining us?</h1>
            <section class="div-line"></section>
        </section>

        

        <section class="form-fields">
            <section class="question-box">
            <p>Will you be attending?</p>
            <select [(ngModel)]="formData.Attending" name="attending">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
                </select>
        </section>
        <section class="question-box">
            <p>First Name</p>
            <input type="text" [(ngModel)]="formData.Name" name="name" placeholder="Your first name">
        </section>

        <section class="question-box">
            <p>Surname</p>
            <input type="text" [(ngModel)]="formData.Surname" name="surname" placeholder="Your surname">
        </section>

        <section class="question-box">
            <p>Email Address</p>
            <input type="text" [(ngModel)]="formData.Email" name="email" placeholder="Your email address">
        </section>
        </section>


         <!-- Only show these if Attending is "Yes" -->
        <section class="yesAttend" *ngIf="formData.Attending === 'Yes'">
        <section class="question-box">
            <p>Dietary Requirements</p>
            <select [(ngModel)]="formData.Diet" name="diet">
                <option value="Kosher">Kosher</option>
                <option value="Halal">Halal</option>
                <option value="Vegetarian">Vegetarian</option>
                <option value="Vegan">Vegan</option>
                </select>
            <p>Other</p>
            <input type="text" [(ngModel)]="formData.otherDiet" name="otherDiet" placeholder="Other">
        </section>

        <section class="question-box">
            <p>Allergies</p>
            <input type="text" [(ngModel)]="formData.Allergy" name="allergy" placeholder="Allergies">
        </section>

        <section class="question-box">
            <p>Song Request</p>
            <input type="text" [(ngModel)]="formData.Song" name="song" placeholder="Song Requests">
        </section>
        </section>

        
        </section>

<section class="sub-container">
            <button (click)="onSubmit()">Submit Details</button>

        </section>
       

        

    </section>


    </section>


</section>
