<header class="topbar">
  <section class="logo-area">
    <img class="logo-img" src="assets/logo.jpg" alt="Vows & Veils logo" />
    <h1 class="logo-text">Vows & Veils</h1>
  </section>

  <nav class="nav-links">
    <a routerLink="/homepage">Home</a>
  </nav>
</header>

<section class="invitations-section">
 <section class="header">
     <h1>Wedding Invitations</h1>
  </section>
  

  <!-- Template picker -->
  <section class="picker" *ngIf="!selected">
    <section class="card" *ngFor="let t of templates">
      <img [src]="t.thumb" [alt]="t.name" />
      <section class="card-footer">
        <p>{{ t.name }}</p>
        <button (click)="choose(t)">Choose</button>
      </section>
    </section>
  </section>

  <!-- Editor + Preview -->
  <section class="editor" *ngIf="selected">
    <aside class="controls">
      <h2>Selected: {{ selected.name }}</h2>
      <form [formGroup]="form" class="form">
        <label> Bride:
          <input type="text" formControlName="bride" />
        </label>
        <label> Groom:
          <input type="text" formControlName="groom" />
        </label>
        <label> Date & Time:
          <input type="text" formControlName="date" />
        </label>
        <label> Venue:
          <input type="text" formControlName="venue" />
        </label>
        <label> Message:
          <textarea rows="4" formControlName="message"></textarea>
        </label>
        <label> Add Photo:
          <input type="file" accept="image/*" (change)="onPhotoChange($event)" />
        </label>
        <button type="button" (click)="selected = undefined">Change Template</button>
        <label>
        <button type="button" (click)="downloadCanvasPNG()">Download Invitation</button>
        </label>
      </form>
    </aside>

    <section class="preview">
      <section class="canvas">
        <img class="bg" [src]="selected.bg" alt="" />
        <img class="photo" *ngIf="photoUrl" [src]="photoUrl" alt="Photo" />
        <section class="text bride">{{ form.value.bride }}</section>
        <section class="text amp">&amp;</section>
        <section class="text groom">{{ form.value.groom }}</section>
        <section class="text date">{{ form.value.date }}</section>
        <section class="text venue">{{ form.value.venue }}</section>
        <section class="text message">{{ form.value.message }}</section>
            <section class="text website" style="position:absolute; bottom:0; width:100%; text-align:center; font-size:1em; color:#333;">
              <div style="font-family: Arial, sans-serif; margin-bottom: 8px;">RSVP on: https://mango-mushroom-00c4ce01e.2.azurestaticapps.net/</div>
            </section>
      </section>
    </section>
  </section>
  
</section>

