<main>
  <header>
    <p>Choose a venue:</p>
  </header>

  <section *ngIf="venues.length > 0; else noVenues">
    <ul>
      <li *ngFor="let venue of venues">
        <h3>{{ venue.venuename }}</h3>
        <p>{{ venue.address }}</p>
        <p>{{ venue.description }}</p>
        <p>Email: {{ venue.email }}</p>
        <p>Phone: {{ venue.phonenumber }}</p>
        <p>Capacity: {{ venue.capacity }}</p>
        <p>Price: {{ venue.price }}</p>
        <button id="btn">View Venue</button>
      </li>
    </ul>
  </section>

  <ng-template #noVenues>
    <p>No venues available.</p>
  </ng-template>
</main>
